/* .rand{
    border: 1px solid black;
} */

.rand img{
    width: 30vw;
}

.rand p{
    font-weight: bold;
    margin: 0;
    font-size: 1.5rem;
}

@media only screen and (max-width: 900px) {
    .rand img{
        width: 45vw;
    }
}

@media only screen and (max-width: 580px) {
    .rand img{
        width: 80vw;
    }
}