.wrapper{
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 10px;
}

.cont{
    margin: 0 10px;
    padding: 10px;
}

.box{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px;
}

.defhead{
    font-weight: bold;
    font-size: 1.5rem;
}

.def{
    color: #426E86;
}

.comment{
    color: grey;
    font-style: italic;
}