/* body{
    background-color: black;
} */
nav{
    padding: 10px;
    font-family: 'Lobster', cursive;
    position:fixed;
    top:0;
    background-color: black;
    width: 100%;
}

nav .logo{
    font-family: 'Lobster', cursive;
    color: rgb(3, 134, 241);
    font-size: 1.8rem;
    padding-left: 25px;
}

logo{
    font-size:2rem;
    opacity: 1;
    padding-left: 30px;
}

/* F9BA32 yellow
F8F1E5 white
426E86 blue
2F3131 black */