/* body{
    background-color: black;
} */
nav{
    color: #426E86;
    padding: 10px;
}

logo{
    font-size:2rem;
    opacity: 1;
    padding-left: 30px;
}

/* F9BA32 yellow
F8F1E5 white
426E86 blue
2F3131 black */